# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
.venv/

# PyInstaller
build/
dist/

# Output SHP
output/

# VSCode
.vscode/

# Windows
Thumbs.db
Desktop.ini

Hydrology/temp/
*.tif
*.tiff
*.zip
*.rar
*.gdb
*.gdb/*
*.gpkg
*.shp
*.dbf
*.shx
*.prj